:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --bgc: #ddd;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

/* header */
header img {
    height: 50px;
    margin: 20px 15px;
}

header a {
    position: absolute;
    right: 30px;
    top: 45px;
    font-size: 16px;
    color: var(--blue);
    text-decoration: none;
    font-weight: 700;
}

header .buttons {
    display: flex;
}

header .buttons button {
    display: inline-block;
    background-color: transparent;
    width: 50%;
    border: none;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--bgc);
}

header .buttons button.active {
    color: var(--blue);
    border-color: var(--blue);
}

/*  nav  */

nav h1 {
    font-size: 22px;
    margin: 20px 20px 0 20px;
}

nav p {
    font-size: 16px;
    margin: 20px
}

nav .search {
    display: flex;
    justify-content: space-between;
    height: 50px;
    border: 1px solid var(--bgc);
    border-radius: 15px;
    margin: 10px 20px;
    overflow: hidden;
}

nav .pin {
    background-color: var(--bgc);
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    width: 50px;
    height: 50px;
}

nav input {
    border: none;
    content: "Mareseille, France";
    font-size: 16px;
    font-weight: 700;
}

nav button.search-btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: var(--blue);
}